<tr id="document_<%= document.id %>">

   <td>
    <div class='media'>
        <%= render_thumbnail_tag document, { class: 'hidden-xs file_listing_thumbnail thesis-thumbnail' }, { suppress_link: true } %>

      <div class='media-body'>
        <div class='media-heading'>

            <span class="sr-only">
              <%= t("sufia.dashboard.my.sr.show_label") %>
            </span>
            <%= document.title_or_label %>

          <br />
          <%= render_collection_links(document) %>

        </div>
      </div>
    </div>
  </td>

  <td class='text-center'><%= file_date_created(document.date_created) %></td>
  <td class='text-center'><%= render_visibility_with_draft(document) %></td>

  <td class='text-center'>
      <% if document.is_draft? %>
      <a class="btn btn-primary" href="<%= edit_curation_concerns_generic_work_path(document) %>">Edit</a>
      <% else %>
          <a class="btn btn-primary" href="<%= curation_concerns_generic_work_path(document) %>">Show</a>
      <% end %>
  </td>
</tr>
