<%= render partial: '/shared/piwik' %>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer_wrap">
           <%= image_tag "lib-stacked.svg", alt: "UVA Librarys Logo", class: "centered-img"  %>
           <span class="copyright">© University of Virginia</span>
        </div>
      </div>
      <div class="col-sm-3 col-centered">
        <div class="footer_wrap">
          <h4>About the Library</h4>
          <ul>
            <li class="line_rv"><a href="http://www.library.virginia.edu/hours/#!/">Hours</a></li>
            <li><a href="http://static.lib.virginia.edu/directory/">Staff Directory</a></li>
            <li><a href="http://www.library.virginia.edu/jobs/">Jobs</a></li>
            <li><a href="http://www.library.virginia.edu/press/">Press</a></li>
            <li><a href="http://www.library.virginia.edu/jobs/fellowships/">Fellowships</a></li>
          </ul>
          <a class="btn btn-primary donate-btn" href="http://www.library.virginia.edu/support/" role="button">Give to the Library</a>
        </div>
      </div>
      <div class="col-sm-3 col-centered">
        <div class="footer_wrap">
          <h4>Using the Library</h4>
          <ul>
            <li><a href="http://www.library.virginia.edu/policies/">Library Use Policies</a></li>
            <li><a href="http://www.library.virginia.edu/services/off-grounds-access/">Off-Grounds Access</a></li>
            <li><a href="http://its.virginia.edu/accounts/createacct.html">ITS Computing Accounts</a></li>
            <li><a href="http://www.library.virginia.edu/services/accessibility-services/">Accessibility Services</a></li>
            <li><a href="http://www.library.virginia.edu/emergency/">Emergency Information</a></li>
              <li><a href="http://www.virginia.edu/siteinfo/privacy">UVA Privacy Policy</a></li>
            <li><a href="http://analytics.lib.virginia.edu/index.php?module=CoreAdminHome&action=optOut&language=en">Tracking Opt-out</a></li>
          </ul>
        </div>
      </div>

      <div class="col-sm-3 col-centered">
        <div class="footer_wrap">
          <h4>Other Sites</h4>
          <ul>
            <li class="line_rv"><a href="https://collab.itc.virginia.edu/portal">UVaCollab</a></li>
            <li><a href="https://sisuva.admin.virginia.edu/psp/epprd/EMPLOYEE/EMPL/h/?tab=PAPP_GUEST">SIS</a></li>
            <li><a href="http://its.virginia.edu/home.php">ITS</a></li>
            <li><a href="http://www.virginia.edu/cavalieradvantage/">Cavalier Advantage</a></li>
            <li><a href="http://www.virginia.edu/">UVA Home</a></li>
            <li><a href="http://staffweb.lib.virginia.edu/">Library Staff Site</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-extended">
    <div class="footer-extended-left">
      <a href="http://www.library.virginia.edu/libra/terms-of-use/" class="footer-link">Libra Terms</a> &nbsp; | &nbsp;
      <a href="mailto:<%= MAIL_SENDER %>" class="footer-link">Libra Feedback</a>
    </div>
    <div class="footer-extended-right">
        <span class="build-version">Version: <%= BUILD_VERSION %></span>
       <%= image_tag "hydra.png", alt: "Hydra Community Badge"  %>
    </div>
  </div>
</section>
