<div class="row">
	<div id="hd">
	</div>

	<div id="bd" class="no-search">
		<div id="main" class="clearfix">
			<div id="main_content" role="main" class="col-xs-12 col-sm-9 col-sm-push-3">
				<div id="document">
					<h1><%= @work[:title].join("<br>") %></h1>
					<div class="document-row">
						<span class="document-label">Author:</span><%= @work.creator %>
					</div>
					<div class="document-row">
						<span class="document-label">Advisors:</span>TODO <%= @work.creator %>
					</div>
					<div class="document-row">
						<span class="document-label">Abstract:</span><%= @work.description %>
					</div>
					<div class="document-row">
						<span class="document-label">Degree Type:</span>TODO <%= @work.degree %>
					</div>
					<div class="document-row">
						<span class="document-label">Degree:</span><%= @work.degree %>
					</div>
					<div class="document-row">
						<span class="document-label">Keywords:</span>TODO <%= @work.tag.join(", ") %>
					</div>
					<div class="document-row">
						<span class="document-label">Sponsoring Agency:</span><%= @work.sponsoring_agency.join(" ") %>
					</div>
					<div class="document-row">
						<span class="document-label">Related Links:</span><%= @work.related_url.join(", ") %>
					</div>
					<div class="document-row">
						<span class="document-label">Notes:</span><%= @work.notes %>
					</div>
					<div class="document-row">
						<span class="document-label">Language:</span><%= @work.language %>
					</div>
					<div class="document-row">
						<span class="document-label">Rights:</span><%= display_rights(@work.rights) %>
					</div>
					<div class="document-row">
						<span class="document-label">DOI:</span><%= public_doi_link(@work) %>
					</div>
				</div>
			</div>
			<%= render "side_bar" %>
		</div>
	</div>
</div>
