<div class="row">
	<div id="hd">
	</div>

	<div id="bd" class="no-search">
		<div id="main" class="clearfix">
			<div id="main_content" role="main" class="col-xs-12 col-sm-9 col-sm-push-3">
				<span class='Z3988' title='rft.btitle=<%= CGI.escape(@work[:title].join("")) %>'></span>
				<div id="document">
					<h1><%= raw(@work[:title].join(raw("<br>"))) %></h1>
					<%= display_if_non_blank("Author:", display_author(@work)) %>
					<%= display_if_non_blank("Advisors:", @work.contributor.join(", ")) %>
					<%= display_if_non_blank("Abstract:", @work.description) %>
					<%= display_if_non_blank("Degree:", @work.degree) %>
					<%= display_if_non_blank("Keywords:", display_keywords(@work)) %>
					<%= display_if_non_blank("Sponsoring Agency:", @work.sponsoring_agency.join(" ")) %>
					<%= display_if_non_blank("Related Links:", display_related_links(@work.related_url)) %>
					<%= display_if_non_blank("Notes:", @work.notes) %>
					<%= display_if_non_blank("Language:", @work.language) %>
					<%= display_if_non_blank("Rights:", display_rights(@work.rights)) %>
					<%= display_if_non_blank("Persistent Link:", public_doi_link(@work)) %>
				</div>
			</div>
			<%= render "side_bar" %>
		</div>
	</div>
</div>
