<div id="doc4">
	<div id="hd">
	</div>

	<div id="bd" class="no-search">
		<div id="main" class="clearfix container_24">
			<div id="sidebar" class="grid_6 alpha omega">
				<h2 class="side-list">File</h2>
				<p class="file-notice"> </p>
				<div id="uploads">
					<div class="file_asset_record">
						<p class="file_asset" id="libra-oa:11618">
							<a href="/file_assets/libra-oa:11618">Béar MA thesis.pdf</a>
						</p>

						<p class="file_type">
							<span class="file_label">Type:</span> Thesis
						</p>

						<p class="file_size">
							<span class="file_label">Size:</span> 325 KB
						</p>
						<p class="file_created">

							<span class="file_label">Created:</span> 2016-05-03 2:30a
						</p>
					</div>

				</div>
				<h2 class="side-list">License &amp; Terms</h2>
				<a class="terms-link" href="/terms">Terms of Use</a>
				<span class="license-title">Author's Deposit License</span>
				<a href="/licenses#uetd_license" id="uetd_read_all" class="license-link" title="Libra Deposit License for Student Theses and Dissertations">Libra Deposit License for Student Theses and Dissertations</a>
			</div>

			<div id="main_content" role="main" class="grid_18 alpha omega">
				<div id="showHead">
					<div id="showUtils">
						<span class="back_to_cat"><a href="/catalog?f%5Bobject_type_facet%5D%5B%5D=Master%27s+Thesis&amp;results_view=true&amp;sort=year_i+desc%2C+system_create_dt+desc">← Return to search results</a></span>

						3 of 781

					</div>
				</div>
				<div id="document" class="document_show">
					<div id="doc_libra-oa:11617">
						<h1></h1>
						<div class="document">
							<span class="Z3988"></span>
							<div class="document_viewer" id="cover_container">
								<div class="document_head">
									<h1><%= @work[:title].join("<br>") %></h1>
									<div id="contributors_list">
										<ol>
											<li id="person_0">
												<span class="contributor_role">author</span>
												<%= @work.creator %>
											</li>
										</ol>
									</div>
								</div>

								<div class="document_body">
									<fieldset><legend>Degree Information</legend>
										<div id="degree" class="browse_value">
											<div class="degree">
												<span class="field_name">Degree:</span>
												<%= @work.degree %>
											</div>
											<div class="degree">
												<span class="field_name">Department:</span>
												<%= @work.department %>
											</div>
										</div>
									</fieldset>
									<fieldset><legend>Keywords</legend>
										<div class="browse_value">
											American literature, Nathaniel Hawthorne, Toni Morrison
										</div>
									</fieldset>
									<fieldset><legend>Abstract</legend>
										<div id="abstract" class="browse_value">
											<p><%= @work.description %></p>
										</div>
									</fieldset>
								</div>

							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>
