<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">
	<h2>Files</h2>
	<p class="file-notice"><%= @file_notice %></p>
	<div id="uploads">
		<div class="file_asset_record">
			<% @files.each { |file| %>
			<p><%= link_to(file[:title], file[:location]) %></p>
			<p><span class="file_label">Type:</span><%= file[:type] %></p>
			<p><span class="file_label">Size:</span><%= file[:size] %></p>
			<p><span class="file_label">Created:</span><%= file_date(file[:date]) %></p>
			<% } %>
		</div>

	</div>
	<h2>License</h2>
	<p class="license-title">Author's Deposit License</p>
	<a href="/licenses#uetd_license" id="uetd_read_all" class="license-link" title="Libra Deposit License for Student Theses and Dissertations">Libra Deposit License for Student Theses and Dissertations</a>
</div>
