<h1>Preview of Submitted Thesis</h1>
<p class="lead text-warning">You are not finished! If this is complete, then click "Submit". Otherwise go back and fill in the missing pieces.</p>

<table class="table table-striped generic_work attributes" itemscope="" itemtype="http://schema.org/CreativeWork">
	<tbody>
	<%= render_thesis_attribute("Title", @work[:title]) %>
	<%= render_thesis_attribute("Description", @work.description) %>
	<%= render_thesis_attribute("Creator", @work.creator) %>
	<%= render_thesis_attribute("Contributors", @work.contributor) %>
	<%= render_thesis_attribute("Department", @work.department) %>
	<%= render_thesis_attribute("Degree", @work.degree) %>
	</tbody>
</table>

<%= form_tag("/submit/#{@id}", method: "post") do %>
<a href="/concern/generic_works/<%= @id %>" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Back</a>
<button name="button" type="submit" class="btn btn-primary" data-confirm="This is your final step and you cannot change the document afterwards. Are you sure?"><i class="glyphicon glyphicon-save"></i> Submit</button>
<% end %>
