<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <%= render_thumbnail_tag member %>
  </td>
  <td class="attribute filename"><%= member.link_name %></td>
  <td class="attribute permission"><%= display_array(member.title) %></td>
  <td class="attribute date_uploaded"><%= member.date_uploaded %></td>
  <td>
  </td>
</tr>

