<p>Dear <%= @advisor %>,</p>
<p><%= @advisee %> has successfully deposited of a <%= @work.degree %> thesis to Libra, the University of Virginia's scholarly repository.</p>
<p>This work will be available for <%= @availability %>. The author has opted to grant to users of this scholarship the following re-use rights: <%= @work.rights.join(' ') %>.</p>
<p>The permanent URL for this scholarship is <a href="<%= @doi_link %>"><%= @doi_link %></a>.</p>
<p>Use  this exact link if you need to record the permanent URL of the thesis.</p>
<p>Approximately 1 hour after deposit, you may check that this scholarship was successfully added to the Library's collection by searching for this thesis in VIRGO, the UVA online library catalog.</p>
<p>This student author's completion of this requirement is being reported to you for departmental purposes. No report of this optional thesis will be made to SIS or any grading application. If you have questions about the content of the thesis or access rights, please contact the student author.</p>
<p></p>
<p>Best Regards,</p>
<p>Scholarly Repository Services, University of Virginia Library</p>
<p><%= MAIL_SENDER %></p>
