<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="author" content="<%= display_author(@work) %>">
	<meta name="keywords" content="<%= display_keywords(@work) %>" />
	<title><%= @work[:title].join("<br>") %></title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<style>

	</style>
</head>
<body class="public">
<div id="libra_container">

	<div id="uva_lib_banner">
		<div id="container1" class="lib_banner">
			<a href="http://www.library.virginia.edu/askalibrarian/" class="ask-a-librarian"><i class="fa fa-question-circle"></i> Ask a Librarian</a>
			<div id="uva_lib_logo" class="grid_14 alpha"><a href="http://www.library.virginia.edu/"><%= image_tag("uva_lib_logo.png", { alt: "University of Virginia Library" }) %></a></div>
		</div>
	</div>
	<div class="app_banner_container">
		<h1 class="virgo-logo-heading">
			<a href="/" id="libra_logo_link"><%= image_tag("libra_logo.png", { alt: "LIBRA" }) %></a>
		</h1>
		<h2 class="search-scope">Online Archive of University of Virginia Scholarship</h2>
	</div>
	<div class="document-background"></div>
<%= yield %>
<%= render "/footer" %>
</div>
</body>
</html>
