<!DOCTYPE html>
<html>
<head>
	<title><%= @work[:title].join("<br>") %></title>
	<link href="http://fonts.googleapis.com/css?family=Cardo:700|Pontano+Sans" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.typekit.com/c/3012f8/1w;garamond-premier-pro-caption,2,XtT:W:n6;myriad-pro,2,ftf:W:n4,ftk:W:n7;trajan-pro,2,XdT:W:n4/l?3bb2a6e53c9684ffdc9a9ef31d5b2a628f7cbbb38238f9e4c8fae6de45cafb44e84470224030e7b84a28c506979138e8e0b0f854b94a19b2d14896c83e0ad21d81d610577e5f26a6510aaadb7287365178515cf1b60b1730f096dcda2194f3196c2ce66c884b9bb2165dc659f20392c6549cf04b53e8a8c76b7815036bf1a0a9894138a725be0dabee67a9cf461688e448ebddc749a3b66d568260828d38917fe4eadf2959be4b7e538e8645f4933bbf90308e26237a158eeac2cebbef5ba6e26f3b7fe82b91c1b8314ca45744ce3e02cdad57ce85c3332bae65a704bcdc0e3deddc400c65be02986d38d5c37250aa98361cc0aacfb7567f020ba3b10fa46fbe42a4668737d537bc39fde007e3a025f96afbfca4074235b4495c8b86888957d80c1859a9af02ae2b7ae31147edc2b50f7c0638a25fba01c291d253728d2604c25fd0ebef9b32580b21b6a57e05a96bc6512e7ade0c5da84c61260aa385f213b20b40bbca2b9fb16cc1ba6f9be8a9e5741c5ab8934ba2049568924fd2f0cf211d1e456401dd1e332e4ef3c882463c07ac83067f7e52a41db902efa44ca84d43b53e501874a4970e3b298bf4c75762297399cb19f683d1c00a6266b020358be9f2ba4fe2d986e2418327" media="all">
	<style>
		body {
			background: #012251;
			font-family: "Helvetica Neue", Arial, sans-serif;
			height: 100%;
			min-width: 816px;
			color: #222;
			margin: 0;
			font-size: 13px;
			line-height: 1.231;
			text-align: center;
		}

		#libra_container {
			background: url('<%= image_path('content_texture2.png') %>') repeat scroll 0 0 #F9F8F7;
		}

		#uva_lib_banner {
			background: #051f38;
			height: 18px;
			padding: 8px 0;
			width: 100%;
		}

		.ask-a-librarian, .ask-a-librarian:visited, .ask-a-librarian:link {
			color: #f59a2c;
			font-size: 14px;
			float: right;
			text-decoration: none;
			border-bottom: 1px dotted #89a;
		}

		.container_24 {
			zoom: 1;
			width: 816px;
			margin-left: auto;
			margin-right: auto;
		}
		.container_24:before, .container_24:after {
			content: '.';
			display: block;
			overflow: hidden;
			visibility: hidden;
			font-size: 0;
			line-height: 0;
			width: 0;
			height: 0;
		}

		#uva_lib_banner #container1 {
			margin-right: auto;
			margin-left: auto;
			font-size: 12px;
			color: #A8CCE8;
			font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		#uva_lib_logo {
			height: 15px;
			width: 200px;
			padding-top: 1px;
			vertical-align: middle;
			text-align: left;
		}
		.container_24 .grid_14 {
			width: 466px;
		}
		.alpha {
			margin-left: 0;
		}
		.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24 {
			display: inline;
			float: left;
			position: relative;
			margin-left: 5px;
			margin-right: 5px;
		}
		img {
			border: 0;
			-ms-interpolation-mode: bicubic;
			vertical-align: middle;
		}
		.app_banner_container {
			height: 45px;
			border-bottom: 1px solid #52637D;
			-webkit-box-shadow: 0 1px 5px rgba(128, 128, 128, 0.8);
			-moz-box-shadow: 0 1px 5px rgba(128, 128, 128, 0.8);
			box-shadow: 0 1px 5px rgba(128, 128, 128, 0.8);
		}
		.app_banner_container h1 {
			margin: 0;
		}
		h1, h2, h3, h4, h5, h6, strong {
			font-weight: bold;
		}
		h1 {
			font-size: 138.5%;
		}
		#libra_logo_link {
			color: #013;
			display: block;
			float: left;
			font-family: "trajan-pro", "Trajan Pro", "Trajan", Georgia, serif;
			font-size: 25px;
			font-weight: normal;
			letter-spacing: -1px;
			line-height: 45px;
			text-decoration: none;
			-webkit-text-shadow: 0px -1px 0px #f2f6fc;
			-moz-text-shadow: 0px -1px 0px #f2f6fc;
			text-shadow: 0px -1px 0px #f2f6fc;
		}
		.search-scope {
			color: #224f72;
			display: block;
			float: left;
			font-size: 17px;
			font-weight: normal;
			margin: 15px 21px 0;
			vertical-align: middle;
			-webkit-text-shadow: 0px -1px 0px #f2f6fc;
			-moz-text-shadow: 0px -1px 0px #f2f6fc;
			text-shadow: 0px -1px 0px #f2f6fc;
		}
		.util_links {
			border-left: 1px solid #CFE0F2;
			border-right: 1px solid #B2C3DD;
			padding: 0;
			margin: 0;
		}
		.account_links, .util_links, #account_nav, .util_nav {
			float: right;
		}
		.util_links li {
			border-left: 1px solid #B2C3DD;
			border-right: 1px solid #CFE0F2;
			font-size: 16px;
			font-weight: 300;
			line-height: 60px;
			list-style: none;
			margin: 0;
			-webkit-text-shadow: 0px -1px 0px #f5f7fc;
			-moz-text-shadow: 0px -1px 0px #f5f7fc;
			text-shadow: 0px -1px 0px #f5f7fc;
			-webkit-transition: background 200ms ease-in-out;
			-moz-transition: background 200ms ease-in-out;
			-o-transition: background 200ms ease-in-out;
			transition: background 200ms ease-in-out;
		}
		.account_links li, .util_links li {
			float: left;
		}
		.util_links li a {
			color: #013;
			display: block;
			padding: 0 16px;
			text-decoration: none;
		}
		a:visited {
			color: #0F3E83;
		}
		a:link, a:visited, a:active, a.license_toggle {
			color: #0F3E83;
			text-decoration: underline;
			border: none;
		}
		/***************/
		#hd, #doc4 {
			background-image: none;
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
			width: 100%;
			min-width: 1000px;
			text-align: center;
		}
		#doc, #doc2, #doc3, #doc4 {
			border-bottom: 2px solid #555;
			margin: 0px auto;
		}
		#bd {
			width: 960px;
			margin: 0 auto;
			padding: 0;
		}
		#bd, .yui-g, .yui-gb, .yui-gc, .yui-gd, .yui-ge, .yui-gf {
			zoom: 1;
		}
		#main {
			background: #fff;
			border-left: 1px solid #DACDCA;
			border-right: 1px solid #DACDCA;
			width: 816px;
		}
		#frame, #main {
			width: 960px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 0;
		}
		.clearfix {
			zoom: 1;
		}
		.clearfix:before, .clearfix:after {
			content: "";
			display: table;
		}
		.clearfix:after {
			clear: both;
		}
		.no-search #sidebar {
			width: 200px;
		}
		#sidebar {
			background: #fff;
			border-right: 1px solid #EEE;
			margin-right: -1px;
		}
		#sidebar .side-list {
			background: url('<%= image_path('file-icon.png') %>') no-repeat scroll 6px 12px #eee;
			border-bottom: 1px solid #CCC;
			color: #444;
			border-top: 1px solid #CCC;
			font-size: 18px;
			margin: 3em 0 0.33em;
			padding: 8px 10px 8px 28px;
			text-align: left;
		}
		h2 {
			font-weight: bold;
			margin-top: 30px;
		}
		p, fieldset, table, pre {
			margin-bottom: 1em;
		}
		#sidebar #uploads {
			overflow: hidden;
			padding: 0;
		}
		#sidebar .file-list, #sidebar #uploads {
			margin: 0;
			text-align: left;
		}
		#uploads {
			font-size: 14px;
			padding-top: 10px;
		}
		.file_asset_record {
			border-bottom: 1px dotted #EEE;
			margin-bottom: 0.67em;
			padding: 0.5em 10px;
		}
		.file_type, .file_size, .file_created {
			font-size: 12px;
			margin-bottom: 0.5em;
		}
		.file_label {
			color: #555;
			font-weight: bold;
		}
		#sidebar .side-list {
			background: url('<%= image_path('file-icon.png') %>') no-repeat scroll 6px 12px #eee;
			border-bottom: 1px solid #CCC;
			color: #444;
			border-top: 1px solid #CCC;
			font-size: 18px;
			margin: 3em 0 0.33em;
			padding: 8px 10px 8px 28px;
			text-align: left;
		}
		#sidebar .license-link, #sidebar .terms-link {
			display: block;
			font-size: 14px;
			padding: 0.5em 10px;
			text-align: left;
		}
		#sidebar .license-title {
			display: block;
			font-size: 12px;
			padding: 0.5em 10px 0;
			text-align: left;
			text-transform: uppercase;
		}
		.no-search #main_content {
			padding: 0 20px;
			width: 560px;
		}
		#main_content {
			z-index: 20;
			padding-bottom: 30px;
			border-left: 1px solid #eee;
		}
		#showUtils {
			background: #f4f4f4;
			margin: 15px 0 5px;
			padding: 10px 20px;
			height: 1em;
			margin-bottom: 1em;
			text-align: center;
		}
		#showUtils .back_to_cat {
			float: left;
		}
		#showUtils a {
			text-decoration: none;
		}
		#document h1 {
			display: none;
		}
		.document {
			border-bottom: none;
		}
		#content, .document, #results {
			min-height: 320px;
			text-align: left;
			width: 100%;
		}
		.document {
			padding: 0.5em 0 0 0;
			background-color: #fff;
			border-bottom: 1px dotted #ccc;
		}
		#content, .document, #results {
			min-height: 320px;
			text-align: left;
			width: 100%;
		}
		#cover_container {
			padding: 10px 20px;
		}
		.document_show .document_head {
			margin-top: 0;
			margin-bottom: 2em;
		}
		.document_show #cover_container h1 {
			margin-bottom: 0.2em;
			margin-top: 0.33em;
			padding-bottom: 0;
		}
		#cover_container h1 {
			font-size: 25px;
			margin-bottom: 8px;
			color: #604927;
			display: block;
			font-family: "Cardo", "Times New Roman", Times, serif;
			font-weight: 700;
			line-height: 1.2em;
			width: 80%;
			-webkit-text-shadow: 0px 1px 3px #eee;
			-moz-text-shadow: 0px 1px 3px #eee;
			text-shadow: 0px 1px 3px #eee;
		}
		#contributors_list ol, #sponsors_list ol, #advisors_list ol {
			color: #444;
			font-family: "Pontano Sans", "Lucida Grande", "Verdana", sans-serif;
			font-size: 17px;
			margin: 0;
			padding: 0;
		}
		ol li {
			list-style: none outside !important;
		}
		#contributors_list .contributor_role, #sponsors_list .contributor_role, #advisors_list .contributor_role {
			display: none;
		}
		.document_show fieldset {
			border: none;
			width: 90%;
			margin-bottom: 1.67em;
			padding: 0.5em 0;
		}
		fieldset {
			border: 0;
			margin: 0;
			padding: 0;
		}
		.document_show fieldset legend {
			font-family: "Pontano Sans", "Lucida Grande", "Verdana", sans-serif;
			font-weight: normal;
			font-size: 20px;
			color: #5f5f5f;
			line-height: 20px;
			margin-bottom: 0.67em;
			padding: 0.67em 0.1em 0.5em;
			width: 100%;
		}
		legend {
			border: 0;
			padding: 0;
		}
		.document_show .browse_value {
			font-size: 14px;
			margin: 0 0 0 0.25em;
			padding: 0;
		}
		.browse_value {
			margin: 0 30px 10px 10px;
			line-height: 18px;
		}
		.document_show .field_name {
			color: #555;
			font-weight: bold;
		}
		/************************/
		#footer {
			background: #012251;
			border-top: 2px solid #013;
			color: #d2e5f7;
			padding: 2em 0;
			background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
			background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
			background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
			background-image: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
			-webkit-box-shadow: 0 -3px 3px rgba(128, 128, 128, 0.2);
			-moz-box-shadow: 0 -3px 3px rgba(128, 128, 128, 0.2);
			box-shadow: 0 -3px 3px rgba(128, 128, 128, 0.2);
			width: 100%;
		}
		#footer #container3 {
			height: 160px;
			width: 960px;
			margin-right: auto;
			margin-left: auto;
			text-align: right;
			font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
			font-size: 11px;
			color: #FFF;
			line-height: 21px;
			padding-top: 15px;
		}
		#footer .contact_info {
			float: left;
			margin-bottom: 1.5em;
			text-align: left;
		}
		#footer a {
			border-bottom: 1px dotted #839DBF;
			color: #def;
			font-weight: normal !important;
			line-height: 1.5em;
			text-decoration: none;
		}
		#footer a:link, #footer a:visited {
			font-weight: bold;
			color: #E6E8F5;
			border-bottom: 1px solid #839DBF;
			text-decoration: none;
		}
		#footer .aux_links {
			float: right;
			text-align: right;
		}
		#footer_notices {
			border-top: 1px solid #648FC7;
			clear: both;
			padding-top: 1.5em;
			width: 100%;
		}
		#footer #container3 #federal_lib_logo {
			float: left;
			height: 50px;
			width: 5%;
			text-align: left;
		}
		#footer #federal_lib_logo, #footer #federal_text {
			padding-top: 1.5em;
		}
		#footer #container3 #bottom_text {
			float: left;
			font-size: 11px;
			font-weight: bold;
			color: #B9CAE6;
			height: 50px;
			width: 85%;
		}
		#footer #container3 #bottom_text #federal_lib {
			text-align: left;
			line-height: 15px;
		}
		#footer #container3 #hydra_logo {
			float: left;
			height: 50px;
			width: 10%;
		}
	</style>
</head>
<body>
<div id="libra_container">

	<div id="uva_lib_banner">
		<div id="container1" class="lib_banner container_24">
			<a href="http://www.library.virginia.edu/askalibrarian/" class="ask-a-librarian">Ask a Librarian</a>
			<div id="uva_lib_logo" class="grid_14 alpha"><a href="http://www.library.virginia.edu/"><%= image_tag("uva_lib_logo.png", { alt: "University of Virginia Library" }) %></a></div>
		</div>
	</div>
	<div class="app_banner_container">
		<div class="app_banner container_24">
			<h1 class="virgo-logo-heading">
				<a href="/" id="libra_logo_link">Libra</a>
			</h1>
			<h2 class="search-scope">Online Archive of University of Virginia Scholarship</h2>

			<ul class="util_links">
				<li class="first"><a href="http://library.virginia.edu/libra/" class="learn_more">Learn More</a></li>
			</ul>

		</div>
	</div>
<%= yield %>
	<div id="footer">
		<div id="container3">
			<div class="contact_info">
				<a href="http://www.library.virginia.edu/" target="_blank">University of Virginia Library</a><br>
				PO Box 400113, Charlottesville, VA 22904-4113<br>
				ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a>
			</div>
			<div class="aux_links">
				<a href="http://www.library.virginia.edu/organization/" target="_blank">Depts./Contacts</a> | <a href="http://www.virginia.edu/" target="_blank">U.Va. Home</a> | <a href="http://its.virginia.edu/" target="_blank">ITS</a><br>
				<a href="/feedback" target="_blank">Libra Feedback</a> | <a href="http://www.library.virginia.edu/askalibrarian/" target="_blank">Questions? Ask a Librarian</a> | <a href="http://www.library.virginia.edu/site-search/" target="blank">Search</a> | <a href="http://www.library.virginia.edu/hours/" target="_blank">Hours</a> | <a href="http://www.library.virginia.edu/map/" target="_blank">Map</a> | <a href="http://www.library.virginia.edu/policies/" target="_blank">Policies</a> | <a href="http://www.library.virginia.edu/press/" target="_blank">Press</a> | <a href="http://www.library.virginia.edu/jobs/" target="_blank">Jobs</a><br>
				<a href="http://www.virginia.edu/copyright.html" id="copyrightLink" target="_blank">©</a> 2011 by the Rector and Visitors of the <a href="http://www.virginia.edu/" target="_blank">University of Virginia</a> | v 1.29

			</div>
			<div id="footer_notices">
				<div id="federal_lib_logo"><%= image_tag("federal_lib_logo.png", { alt: "Federal Library Depository logo", height: 33, width: 37}) %></div>
				<div id="bottom_text">
					<div id="federal_lib">This library is a Congressionally designated depository for <a href="http://guides.lib.virginia.edu/findinggovinfo/" target="_blank">U.S. Government documents</a>.
						Public access to the Government documents is guaranteed by public law.</div>
				</div>
				<div id="hydra_logo"><%= image_tag("powered_by_hydra.png", { alt: "Hydra logo", height: 50, width: 80}) %></div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
