<h1>Unstarted</h1>
<table class="work-index">
	<%= render :partial => 'header' %>
	<% @untouched.each { |work| %>
			<%= render :partial => 'work', :locals => { :work => work } %>
	<% } %>
</table>

<h1>In Progress</h1>
<table class="work-index">
	<%= render :partial => 'header' %>
	<% @in_progress.each { |work| %>
			<%= render :partial => 'work', :locals => { :work => work } %>
	<% } %>
</table>

<h1>Submitted</h1>
<table class="work-index">
	<%= render :partial => 'header' %>
	<% @submitted.each { |work| %>
			<%= render :partial => 'work', :locals => { :work => work } %>
	<% } %>
</table>
