<h1>New</h1>
<table class="work-index sis">
	<tr><th>Student</th><th>Title</th><th>Sis</th><th></th></tr>
	<% @sis_new.each { |rec| %>
		<tr>
			<td><%= rec[:computing_id] %><br><%= rec[:name] %></td>
			<td><%= rec[:title] %></td>
			<td>
				<% line = rec[:sis_entry].split("|") %>
				<%= line[0] %> <%= line[5] %> <%= line[6] %> <%= line[7] %><br>
				<%= line[9] %> <%= line[10] %> <%= line[11] %>
			</td>
			<td>
				<%= form_tag("/supervisor/sis_import", method: :post) do %>
					<input type="hidden" name="sis_entry" value="<%= rec[:sis_entry] %>" />
					<%= submit_tag 'Import', { class: "btn btn-default"} %>
				<% end %>
			</td>

		</tr>
	<% } %>
</table>

<h1>Changed</h1>
<table class="work-index sis">
	<tr><th>Student</th><th>Title</th><th>Sis</th></tr>
	<% @sis_changed.each { |rec| %>
		<tr>
			<td><%= rec[:computing_id] %><br><%= rec[:name] %></td>
			<td>SIS Title: <%= rec[:title] %><br>Work Title: <%= rec[:work].title[0] %></td>
			<td><%= raw rec[:sis_entry].gsub("|", "<br>") %></td>
		</tr>
	<% } %>
</table>