<h3>Visibility</h3>

<div class="form-group visibility">
  <label class="radio">
    <%= f.radio_button :embargo_state, Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC, data: { 'target': '#collapsePublic' }  %>
    <%= t('libra.visibility.open.label_html') %>
  </label>

  <label class="radio">

 <% if current_user && current_user.is_engineering? %>
        <% embargo_label = 'libra.visibility.embargo_engineering.label_html' %>
        <% embargo_visibility = Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PRIVATE %>
    <% else %>
        <% embargo_label = 'libra.visibility.embargo.label_html' %>
        <% embargo_visibility = Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_AUTHENTICATED %>
    <% end %>
      <%= f.radio_button :embargo_state, embargo_visibility, data: { 'target': '#collapseEmbargo' } %>

      <%= t( embargo_label ) %>
    <div class="collapse" id="collapseEmbargo">
      <div class="form-inline">
        <%= f.input :embargo_period, label: ' For ', wrapper: :inline, collection: embargo_duration_options( ), include_blank: false %>
        <%= t('libra.visibility.after_embargo.label_html') %>

        <!-- hidden fields -->
        <%= f.input :visibility, as: :hidden, input_html: { value: Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC }   %>
        <%= f.input :visibility_during_embargo, as: :hidden, input_html: { value: embargo_visibility }   %>
        <%= f.input :embargo_release_date, as: :hidden, input_html: { value: Date.tomorrow } %>
        <%= f.input :visibility_after_embargo, as: :hidden, input_html: { value: Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_PUBLIC } %>
      </div>
    </div>
  </label>
</div>