<!DOCTYPE html>
<html>
<head>
  <title>LibraETD</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render '/shared/web_component_headers' %>
</head>
<body>

<%= yield %>

</body>
</html>
